<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8" />
    <title>Join Chat Raum</title>
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Willkommen im RAM-Chat</h1>
    <form action="{{ url_for('chat') }}" method="POST">
        <input type="text" name="username" placeholder="Dein Name" required>
        <input type="text" name="room" placeholder="Raum Code" required>
        <button type="submit">Join</button>
    </form>
</body>
</html>
